{% trans_default_domain('news') %}

{% extends 'NewsBundle:Admin:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "news.comment.list.title"|trans|capitalize }}{% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <a href=" {{ url('puzzle_admin_news_post_list') }} ">
       {{ 'news.post.list.title'|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
    <a href=" {{ url('puzzle_admin_news_post_show', {'id': post.id}) }} ">
       {{ 'news.post.show.title'|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
	<em>{{ "news.comment.list.title"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
<div id="page_content_inner">
    <div class="md-card">
        <div class="md-card-content">
            <table id="dt_individual_search" class="uk-table uk-table-hover" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="no-sort">
                        {% if comments is not empty %}
                            <div class="toggle-action uk-hidden">
                                <select class="grouped-actions">
                                    <option value="">{{ 'news.comment.list.grouped_actions'|trans }}</option>
                                    <option value="approve">{{ 'news.comment.list.approve'|trans }}</option>
                                    <option value="disapprove">{{ 'news.comment.list.disapprove'|trans }}</option>
                                    <option value="delete">{{ 'news.comment.list.delete'|trans }}</option>
                                </select>
                                <input type="hidden" value="{{ comments|length|default('0') }}" id="toggle-items-count">
                                <input type="hidden" value="0" id="toggle-items-checked-count">
                            </div>
                        {% endif %}
                    </th>
                    <th>{{ "news.comment.list.author"|trans }}</th>
                    <th>{{ "news.comment.list.post"|trans }}</th>
                    <th>{{ "news.comment.list.visible"|trans }}</th>
                    <th>{{ "news.comment.list.created_at"|trans }}</th>
                    <th>{{ "news.comment.list.updated_at"|trans }}</th>
                    <th class="uk-text-right no-sort">{{ 'news.comment.list.actions'|trans }}</th>
                </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                        <tr class="toggleable" id="item-{{ comment.id }}">
                            <td>
                                <a class="uk-text-muted uk-text-small uk-text-left toggleable-btn-select" href="#">
                                    <i class="material-icons md-24 toggle-icon toggle-item" id="toggle-item-{{ comment.id }}">&#xE835;</i>
                                </a>
                            </td>
                            <td>
                            	<div class="uk-text-truncate" style="width: 250px;">
                                    <a href="{{ url('puzzle_admin_news_comment_show', {'id': comment.id}) }}">
                                        {{ comment.createdBy }}
                                    </a>
                                </div>
                            </td>
                            <td>{{ comment.post.name }}</td>
                            <td class="uk-text-center">
                                {% if post.isVisible == 1 %}
                                    <span class="uk-badge uk-badge-success">{{ 'news.post.list.visible_yes'|trans }}</span>
                                {% else %}
                                    <span class="uk-badge">{{ 'news.post.list.visible_no'|trans }}</span>
                                {% endif %}
                            </td>
                            <td>{{ date_time_ago(comment.createdAt) }}</td>
                            <td>{{ date_time_ago(comment.updatedAt) }}</td>
                            <td class="uk-text-right">
                                <div class="uk-button-dropdown" data-uk-dropdown="{mode:'click', pos:'bottom-right'}">
                                    <a><i class="fa fa-align-justify"></i></a>
                                    <div class="uk-dropdown uk-dropdown-small uk-dropdown-bottom uk-text-left" aria-hidden="true">
                                        <ul class="uk-nav uk-nav-dropdown">
                                        	<li>
                                                <a href="{{ url('puzzle_admin_news_comment_show', {'id': comment.id}) }}" class="show-modal">
                                                    <i class="fa fa-eye"></i>
                                                    {{ 'news.comment.list.show'|trans }}
                                                </a>
                                            </li>
                                            {% if comment.visible == 1 %}
                                                <li>
                                                    <a href="{{ url('puzzle_admin_news_comment_disapprove', {'id': comment.id}) }}" class="disapprove">
                                                        <i class="fa fa-thumbs-down"></i>
                                                        {{ 'news.comment.list.approve'|trans }}
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ url('puzzle_admin_news_comment_disapprove', {'id': comment.id}) }}" class="approve">
                                                        <i class="fa fa-thumbs-up"></i>
                                                        {{ 'news.comment.list.disapprove'|trans }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                            <li>
                                                <a href="#" data-route="{{ url('puzzle_admin_news_comment_delete', {'id': comment.id}) }}" data-text="{{ 'news.comment.delete.description'|trans({'%commentAuthor%': comment.createdBy}) }}" data-label="{{ comment.createdBy }}" class="remove-item">
                                                    <i class="fa fa-trash-o uk-text-danger"></i>
                                                    {{ 'news.comment.list.delete'|trans }}
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('body').on('change', '.grouped-actions', function(e){
			switch($(this).val()){
    			case 'approve':
    				approve($(this), e);
    				break;
    			case 'disapprove':
    				disapprove($(this), e);
    				break;
				case 'delete':
					var modalId = 'delete-list-modal';
					
					UIkit.modal("#" + modalId).show();
					$('#' + modalId).find('#delete-list-btn').data('delete-item-route', 'puzzle_admin_news_comment_delete');
				default:
					break;
			}
		});

		$('body').on('click', '.disapprove', function(e){
			disapprove($(this), e);
		});

		$('body').on('click', '.approve', function(e){
			approve($(this), e);
		});

		/**
		* Approve a comment
		**/
		function approve($el, e){
			e.preventDefault();
			$.ajax({
	    		method: 'GET',
	    		url: $el.attr('href'),
				success: function(response, textSatus) {
					UIkit.notify({
	                    message: "<b>" + response + "</b>",
	                    pos: 'top-right',
	                    timeout: 2000,
	                    status: 'success'
	                });
	    		},
	    		error: function(jqXHR, textSatus, errorThrow) {
	    			UIkit.notify({
	                    message: "<b>" + jqXHR.responseText + "</b>",
	                    pos: 'top-right',
	                    timeout: 0,
	                    status: 'error'
	                });
	    		}
	    	})
		}

		/**
		* Disapprove a comment
		**/
		function disapprove($el, e) {
			e.preventDefault();
			$.ajax({
	    		method: 'GET',
	    		url: $el.attr('href'),
				success: function(response, textSatus) {
					UIkit.notify({
	                    message: "<b>" + response + "</b>",
	                    pos: 'top-right',
	                    timeout: 2000,
	                    status: 'success'
	                });
	    		},
	    		error: function(jqXHR, textSatus, errorThrow) {
	    			UIkit.notify({
	                    message: "<b>" + jqXHR.responseText + "</b>",
	                    pos: 'top-right',
	                    timeout: 0,
	                    status: 'error'
	                });
	    		}
	    	})
		}
	</script>
{% endblock %}