{% trans_default_domain 'news' %}

{% extends 'NewsBundle:Admin:layout.html.twig' %}

{% block title %}{{ parent() }} - {{ "news.post.update_gallery.title"|trans|capitalize }} {% endblock %}

{% block breadcrumbmodule %}
    {{ parent() }}
    <a href=" {{ url('puzzle_admin_news_post_list') }} ">
       {{ 'news.post.list.title'|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
    <a href=" {{ url('puzzle_admin_news_post_show', {'id': post.id}) }} ">
       {{ 'news.post.show.title'|trans|capitalize }}
    </a>
    <i class="fa fa-chevron-right"></i>
    <em>{{ "news.post.update_gallery.title"|trans|capitalize }}</em>
{% endblock %}

{% block content %}
    <div id="page_content_inner">
    	{{ form_start(form, {'attr': {'id': 'form_validation', 'class': 'uk-form-stacked'}}) }}
		    <div class="uk-width-1-1">
	            {{ render(controller('MediaBundle:Admin:embedFile', {'formData': form.pictures, 'data': post.pictures is not empty ? post.pictures|join(',') : null, 'type': 'picture', 'context': 'news/post', 'multiple': true })) }}
	        </div>
		    <div class="uk-margin-top">
		        <a class="md-btn md-btn-default" href="{{ url('puzzle_admin_news_post_show', {'id': post.id}) }}">
		            {{ 'news.post.update_gallery.back'|trans }}
		        </a>
		        <button class="md-btn md-btn-success" type="submit">
		                {{ 'news.post.update_gallery.update'|trans }}
		        </button>
		    </div>
		{{ form_end(form) }}
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
    {% javascripts
        'bundles/media/js/upload.js'
        output="compiled/js/puzzle_admin_news_post_update_gallery.min.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
	<script>
		// Preview picture
		altair_form_file_upload.preview();
	</script>
{% endblock %}